
    <h1>Mathematics Students</h1>
    <h2>Answer the Questions</h2>
    <div class="container">
        <div class="leftside-menu">
            <p style="cursor: pointer;" onclick="toggleMenu()">Classes</p>
            <ul id="menu-ul">
                <li><a href="mathStudents.html">Mathematics</a></li>
                <li><a href="scienceStudent.html">Science</a></li>
                <li><a href="englishStudent.html">English</a></li>
                <li><a href="index.html">Home</a></li>

            </ul>
        </div>
        <div class="question-container-student" id="student-questions"  style="margin-left: 30px;">
           
            <div class="question-box" *ngFor = "let value of problems;let i = index">

            <div>{{value.num1}}</div>
            <div>{{value.operator}}</div>
            <div>{{value.num2}}</div>
            <div><input type="text" [(ngModel)]="answer[i]" ></div>
            </div>


</div>

        <div class="task-maker-container">
            <div class="task-creation-wizard">
                <h2>Results</h2>
                <div *ngIf="submitData">
                    <div *ngFor="let value of problems; let i = index">
                        <div *ngIf="value.answer == value.ans">
                            <i class="fa fa-check" style="color: green; padding: 2px; margin-bottom: 10px; font-size: 20px "></i> 
                            <span>problem {{i + 1}} is Correct</span> 
                        </div>
                        <div *ngIf="value.answer != value.ans">
                            <i class="fa fa-close" style="color: red; padding: 2px; margin-bottom: 10px; font-size: 20px;"></i> 
                            <span>problem {{i + 1}} is Wrong</span> 
                        </div>
                    </div>
                </div>
                <button id="submit-answers"(click)= "submitAns()">Submit Answers</button>
                <button id="restart">Restart Quiz</button>
            </div>
        </div>
    </div>7
