
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    height: 100vh;
}

.card
{ 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    

}

.card-body
{
    background-color: rgb(224, 218, 230) ;
    margin: auto;
    padding: 100px;
}
