
<div class="container">
  <div class="body">

    <div class="card" style="width: 20rem;" (click)="teacherlogin()">
            <div class="card-body" >
              <h5 class="card-title" style="text-align: center; font-size:medium;">Teacher Login</h5>
            </div>
          </div>
      
    
      <div class="card" style="width: 20rem;" (click)="studentlogin()">
        <div class="card-body" >
            <h5 class="card-title" style="text-align: center; font-size:medium;">Student Login</h5>
          </div>
      </div>
    
    
</div>

