h2,h4{
    display: flex;
    justify-content: center;
    text-align: center;    
    margin-bottom: 30px;
    } 


ul{
    list-style:none;
}

.container{
    display: flex;
    margin:0%;
    padding: 0%;
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 50vh;
    gap:20px;
   
}

.question-container{
    background-color: #d4d4d4;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.task-maker-container{
    height: 100vh;
    background-color: #ccc;
    align-items: center;
    padding: 30px;
    width: 25%;
}



