
.container{
    margin:0%;
    padding: 0%;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 50vh;
    gap:20px;
   
}

.leftside-menu{

    height: 50vh;
    background-color: #ccc;
    color: black;
    margin: 0;
    padding: 1em;
    margin-top: 0;
    padding: 0;
}

.menu-active{
    display: none;
}
#menu-ul,li
{
    padding: 10px;
}
#menu-ul,li,a
{
    color: rgba(57, 2, 66, 0.897);
    text-decoration: none;

}



